body {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 12pt;
}

/*navigation*/

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
	display: flex;
	justify-content: center;
	font-size: 3em;
	padding: 20px;
	color: #600d19;
}

.retroshadow {    /*adapted from: https://codepen.io/juanbrujo/pen/yGpAK (https://cssnewbie.com/10-beautiful-css-text-effects/#.Xm6DkpNKii7)*/
    letter-spacing: .05em;
    text-shadow: 
      3px 3px 0px #FFF, 
      6px 6px 0px rgba(0, 0, 0, 0.2);
 }


nav{
    flex: 1;
    justify-content: center;
}

.topnav{
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.nav_item{
	color: #000;
	font-size: 1em;
	padding: 5px 10px;
	text-align: center;
}

.nav_item a {
	color: #000;
	text-decoration: none;
}

.nav_item a:hover, a:focus{
	text-decoration: underline;
}

.topnav .current a{
	color: #FFF;
	background-color: #600d19;
}

/*Name heading animation*/
@-webkit-keyframes name_grow{
  from{
    font-size: .5em;
  }
  to{
    font-size: 3em;
  }
}

@keyframes name_grow{
  from{
    font-size: .5em;
  }
  to{
    font-size: 3em;
  }
} 

#name{
  -webkit-animation-name: name_grow;
  animation-name: name_grow;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  
}

/*skip to content*/
a.skip{
  background: white;
  left: 0;
  padding: 3px;
  position: absolute;
  top: -40px;
  -webkit-transition: top .25s ease-in-out;
  transition: top .25s ease-in-out;
  z-index: 1;
}

a.skip:focus{
  top: 5px;
  color: #000;	
}


/*grid about page*/
.container_about{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
}

.about_mobile {
	display: grid;
	margin-left: auto;    /*adapted from: https://www.w3schools.com/howto/howto_css_image_center.asp*/
	margin-right: auto;
}

.about_full{
	display: none;
}

.about_pic{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 300px;                /* Parallax effect */

  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-image: url("../images/jamie_mobile.jpg");
  background-color: black;
}


/* project images*/
.dw, .ii, .atomic, .propub, .priorityorg{
	display: grid;
	margin-left: auto;    /*adapted from: https://www.w3schools.com/howto/howto_css_image_center.asp*/
	margin-right: auto;
	width: 400px;
	padding-top: 10px;
/*	padding-bottom: 20px;*/
}

/*grid ux page*/
.container_ux{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.atomic_head {
	display: grid;
	grid-row: 1;
}

.atomic_img {
	display: grid;
	grid-row: 2;
}

.atomic_content {
	display: grid;
	grid-row: 3;
}

.propub_head {
	display: grid;
	grid-row: 4;
}

.propub_img {
	display: grid;
	grid-row: 5;
}

.propub_content {
	display: grid;
	grid-row: 6;
}

.priorityorg_head {
	display: grid;
	grid-row: 7;
}

.priorityorg_img {
	display: grid;
	grid-row: 8;
}

.priorityorg_content {
	display: grid;
	grid-row: 9;
}

/*grid service design page*/
.container_servicedesign{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto;
}

.dw_head {
	display: grid;
	grid-row: 1;
}

.dw_img {
	display: grid;
	grid-row: 2;
}

.dw_content {
	display: grid;
	grid-row: 3;
}

.biztech_head {
	display: grid;
	grid-row: 4;
}

.biztech_img {
	display: grid;
	grid-row: 5;
}

.biztech_content {
	display: grid;
	grid-row: 6;
}

/*flip card service design*/ /*Adapted from: https://www.w3schools.com/howto/howto_css_flip_card.asp*/
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  margin-left: auto;    /*adapted from: https://www.w3schools.com/howto/howto_css_image_center.asp*/
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: #600d19;
  color: white;
  transform: rotateY(180deg);
}


/*header & copy styling*/

h2{
	color: #FFF;
	background-color: #600d19;;
	font-size: 2em;
	padding: 5px 10px;
	text-align: center;
}

h3{
	font-size: .80em;
	font-style: italic;
	text-align: center;
	padding: 20px 10px 30px 10px;
}

h4{
	font-size: 1.5em;
	font-weight: bold;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom: 5px;
}

p{
	font-size: .85em;
	padding: 10px 20px;
	line-height: 1.25em;
}

p:last-child{
	margin-bottom: 40px;
}

ul.copy{
	font-size: .85em;
	list-style-type: disc;
	padding: 10px 60px;
	line-height: 1.25em;
}

.indent{
	padding-left: 40px;
}

/*gallery*/

.gallery{
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.gallery img{
	width: 400px;
	padding: 20px 20px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* adapted from: https://www.w3schools.com/css/css3_shadows.asp;*/
}

.gallery:last-child{
	margin-bottom: 40px;
}

/*gallery animation*/    /* adapted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity*/
.box{
	position: relative;
}

.image {               
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.caption {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.box:hover .image{
  opacity: 0.3;
}

.box:hover .caption {
  opacity: 1;
}

.box:focus .image{
  opacity: 0.3;
}

.box:focus .caption {
  opacity: 1;
}

.text {
  background-color: #600d19;
  color: white;
  font-size: .75em;
  padding: 10px 20px;
}

/*footer */
footer{
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	background: #600d19;
	color: #FFF;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	font-size: .75em;
}

@media all and (min-width: 600px){

/*navigation*/
	.topnav{
	  display: flex;
	  list-style: none;
	  flex-direction: row;
	  align-items: center;
	  justify-content: space-around;
	  margin-bottom: 20px;
	}

/*grid about page*/
	.container_about{
		display: grid;
		grid-template-columns: 240px auto;
		grid-template-rows: auto;
	}

	.about_full {
		display: grid;
		margin-left: 10px;
		margin-bottom: 20px;
		width: 230px;
		grid-column: 1 / span 1;
	}

	.about_mobile{
		display: none;
	}

	.bio {
		grid-column: 2 / span 1;
		font-size: 1.2em;
	}

/*grid ux page*/
	.container_ux{
		display: grid;
		grid-template-columns: 420px auto;
		grid-template-rows: auto auto auto auto auto auto;
	}

	.dw, .ii, .atomic, .propub, .priorityorg{
		display: grid;
		margin-left: 10px;    
		width: 400px;
		padding-top: 10px;
		padding-bottom: 10px
}

	.atomic_head {
		display: grid;
		grid-column: 1 / -1;
		grid-row: 1;
	}

	.atomic_img {
		display: grid;
		grid-row: 2;
		grid-column: 1 / span 1;
	}

	.atomic_content {
		display: grid;
		grid-row: 2;
		grid-column: 2 / span 1;
	}

	.propub_head {
		display: grid;
		grid-row: 3;
		grid-column: 1 / -1;
	}

	.propub_img {
		display: grid;
		grid-row: 4;
		grid-column: 1 / span 1; 
	}

	.propub_content {
		display: grid;
		grid-row: 4;
		grid-column: 2 / span 1;
	}

	.priorityorg_head {
		display: grid;
		grid-row: 5;
		grid-column: 1 / -1;
	}

	.priorityorg_img {
		display: grid;
		grid-row: 6;
		grid-column: 1 / span 1; 
	}

	.priorityorg_content {
		display: grid;
		grid-row: 6;
		grid-column: 2 / span 1;
	}

/*grid ux page*/
	.container_servicedesign{
		display: grid;
		grid-template-columns: 420px auto;
		grid-template-rows: auto auto auto auto;
	}

	.dw, .ii, .atomic, .propub, .priorityorg{
		display: grid;
		margin-left: 10px;    
		width: 400px;
		padding-top: 10px;
		padding-bottom: 10px
}

	.dw_head {
		display: grid;
		grid-column: 1 / -1;
		grid-row: 1;
	}

	.dw_img {
		display: grid;
		grid-row: 2;
		grid-column: 1 / span 1;
	}

	.dw_content {
		display: grid;
		grid-row: 2;
		grid-column: 2 / span 1;
	}

	.biztech_head {
		display: grid;
		grid-row: 3;
		grid-column: 1 / -1;
	}

	.biztech_img {
		display: grid;
		grid-row: 4;
		grid-column: 1 / span 1; 
	}

	.biztech_content {
		display: grid;
		grid-row: 4;
		grid-column: 2 / span 1;
	}

/*flex gallery*/
	.gallery img{
		width: 250px;
		padding: 20px;
		margin: 5px;
	}

	.gallery {
	  	display: flex;
	  	flex-flow: row wrap;
	  	justify-content: center;
	}
}

@media all and (min-width: 900px){

/*navigation*/
	header{
	    flex-direction: row;
	    justify-content: space-between;
	  }

	.topnav{
	    flex-direction: row;
	    margin-bottom: 0px;
	    justify-content: flex-end;
	  }

	h1{
	 	flex-direction: row;
	 } 

/*grid about page*/
	.container_about{
		display: grid;
		grid-template-columns: 420px auto;
		grid-template-rows: auto;
	}

	.about_full {
		display: grid;
		margin-left: 10px;
		margin-bottom: 20px;
		width: 400px;
		grid-column: 1 / span 1;
	}

	.about_mobile{
		display: none;
	}

	.bio {
		grid-column: 2 / span 1;
		font-size: 1.5em;
	}

/*grid ux page*/
	.container_ux{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
		grid-column-gap: 2px;
	}

	.dw, .ii, .atomic, .propub, .priorityorg{
		display: grid;
		margin-left: auto;
		margin-right: auto;    
		width: 400px;
		padding-top: 10px;
		padding-bottom: 10px
}

	.atomic_head {
		display: grid;
		grid-column: 1 / span 1;
		grid-row: 1;
	}

	.atomic_img {
		display: grid;
		grid-row: 2;
		grid-column: 1 / span 1;
	}

	.atomic_content {
		display: grid;
		grid-row: 3;
		grid-column: 1 / span 1;
	}

	.propub_head {
		display: grid;
		grid-row: 1;
		grid-column: 2 / span 1;
	}

	.propub_img {
		display: grid;
		grid-row: 2;
		grid-column: 2 / span 1; 
	}

	.propub_content {
		display: grid;
		grid-row: 3;
		grid-column: 2 / span 1;
	}

	.priorityorg_head {
		display: grid;
		grid-row: 1;
		grid-column: 3 / span 1;
	}

	.priorityorg_img {
		display: grid;
		grid-row: 2;
		grid-column: 3 / span 1; 
	}

	.priorityorg_content {
		display: grid;
		grid-row: 3;
		grid-column: 3 / span 1;
	}

/*grid service design page*/
	.container_servicedesign{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
		grid-column-gap: 2px;
	}

	.dw, .ii, .atomic, .propub, .priorityorg{
		display: grid;
		margin-left: auto;
		margin-right: auto;    
		width: 400px;
		padding-top: 10px;
		padding-bottom: 10px
}

	.dw_head {
		display: grid;
		grid-column: 1 / span 1;
		grid-row: 1;
	}

	.dw_img {
		display: grid;
		grid-row: 2;
		grid-column: 1 / span 1;
	}

	.dw_content {
		display: grid;
		grid-row: 3;
		grid-column: 1 / span 1;
	}

	.biztech_head {
		display: grid;
		grid-row: 1;
		grid-column: 2 / span 1;
	}

	.biztech_img {
		display: grid;
		grid-row: 2;
		grid-column: 2 / span 1; 
	}

	.biztech_content {
		display: grid;
		grid-row: 3;
		grid-column: 2 / span 1;
	}

/*flex gallery*/
	.gallery img{
		width: 250px;
		padding: 20px;
		margin: 5px;
	}

	.gallery {
	  	display: flex;
	  	flex-flow: row wrap;
	  	justify-content: center;
	}

	.gallery img{
		width: 350px;
		padding: 20px;
		margin: 5px;
	}
}

@media all and (prefers-reduced-motion: reduce) {
a.skip{
	-webkit-transition: none;
  	transition: none;
}

.image{
	-webkit-transition: none;
  	transition: none;	
}

.caption{
	-webkit-transition: none;
  	transition: none;
}

.flip-card-inner{
	-webkit-transition: none;
  	transition: none;
}

#name{
	-webkit-animation: none;
  	animation: none;
}

/*    animation-duration: 0s;*/
/*    transition: none;
    scroll-behavior: auto;*/
}